node_modules/
.pnp/
.pnp.js

.next/
out/
build/
dist/

.env
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
next-env.d.ts

/coverage
/playwright-report/
/test-results/

.vscode/
.idea/
.DS_Store
